@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Armenian:wght@100;300&display=swap');
body{
    font-family: "Lexend Mega", sans-serif;
    background-color: rgb(90, 83, 129);
}

.centralArea{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.child{
    text-align: center;
}


#text{
    font-size: 100px;
    width: 50%;
    margin: 40px auto;
    text-align: center;
}

#gameButton{
    border: none;
    background-color: rgb(197, 202, 126);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    width: 20%;
    font-family: "Lexend Mega", sans-serif;
}

progress{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}



#gameButton:hover{
    background-color: rgba(28, 175, 60, 0.815);
}